In [1]:
import pandas as pd
from IPython.display import HTML

In [2]:
df_real_estate = pd.read_csv('data/Detailed_Building_Permit_Data.csv')

/var/folders/g6/9vrytjqx3y7bwvrfmb4qkt440000gn/T/ipykernel_49881/3085551931.py:1: DtypeWarning: Columns (22,23,24,25,26,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df_real_estate = pd.read_csv('data/Detailed_Building_Permit_Data.csv')

In [19]:

HTML(df_real_estate.head().to_html())

In [10]:
df_real_estate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134046 entries, 0 to 134045
Data columns (total 35 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Issue Date                 134046 non-null  object
 1   Permit Number              134046 non-null  object
 2   Parent Permit Number       9548 non-null    object
 3   Permit Group               134046 non-null  object
 4   Permit Type                134046 non-null  object
 5   Sub Type                   134046 non-null  object
 6   Work Type                  134044 non-null  object
 7   Street Number              133759 non-null  float64
 8   Street Name                133776 non-null  object
 9   Street Type                133021 non-null  object
 10  Street Direction           7120 non-null    object
 11  Unit Type                  7095 non-null    object
 12  Unit Number                7964 non-null    object
 13  Neighbourhood Number       134044 non-null  float64
 14  Neighbourhood Name         134044 non-null  object
 15  Community                  134046 non-null  object
 16  Applicant Business Name    103300 non-null  object
 17  Dwelling Units Created     134046 non-null  int64
 18  Dwelling Units Lost        134046 non-null  int64
 19  Location                   133664 non-null  object
 20  X Coordinate NAD83         133664 non-null  float64
 21  Y Coordinate NAD83         133664 non-null  float64
 22  Includes Secondary Suite   33829 non-null   object
 23  Adding Secondary Suite     8013 non-null    object
 24  Removing Secondary Suite   8013 non-null    object
 25  Pool Type                  809 non-null     object
 26  Type of Structure          232 non-null     object
 27  Ward                       133931 non-null  object
 28  ICR Start Date             34256 non-null   object
 29  ICR Complete Date          34256 non-null   object
 30  ICR Work Days              34256 non-null   float64
 31  Application Received Date  134046 non-null  object
 32  Status                     134046 non-null  object
 33  Final Date                 118893 non-null  object
 34  Point                      133664 non-null  object
dtypes: float64(5), int64(2), object(28)
memory usage: 35.8+ MB

In [20]:
df = df_real_estate.drop(['Street Direction', 'Unit Type', 'Unit Number', 'Type of Structure', 'Pool Type', 'ICR Start Date', 'ICR Complete Date', 'ICR Work Days'], axis=1).copy()

In [21]:
df

,Issue Date,Permit Number,Parent Permit Number,Permit Group,Permit Type,Sub Type,Work Type,Street Number,Street Name,Street Type,...,X Coordinate NAD83,Y Coordinate NAD83,Includes Secondary Suite,Adding Secondary Suite,Removing Secondary Suite,Ward,Application Received Date,Status,Final Date,Point
0,2013 August 28 12:00:00 AM,13-157485 MU,NaN,Residential,Multi-Residential,Rooming Houses,Boarding Permit,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,St. Boniface,08/28/2013 12:00:00 AM,Closed,11/03/2014 12:00:00 AM,NaN
1,2010 February 23 12:00:00 AM,10-108463 HO,NaN,Residential,Housing,SFD,Boarding Permit,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Mynarski,02/23/2010 12:00:00 AM,Closed,04/05/2012 12:00:00 AM,NaN
2,2013 March 14 12:00:00 AM,13-111710 HO,NaN,Residential,Housing,SFD,Boarding Permit,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Daniel McIntyre,03/14/2013 12:00:00 AM,Closed,07/02/2014 12:00:00 AM,NaN
3,2010 October 18 12:00:00 AM,10-164945 HO,NaN,Residential,Housing,SFD,Boarding Permit,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Daniel McIntyre,10/18/2010 12:00:00 AM,Closed,11/10/2011 12:00:00 AM,NaN
4,2010 July 23 12:00:00 AM,10-144372 HO,NaN,Residential,Housing,SFD,Boarding Permit,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,St. James,07/23/2010 12:00:00 AM,Closed,10/31/2011 12:00:00 AM,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134041,2023 August 22 12:00:00 AM,23-188737 HO,NaN,Residential,Housing,SFD & Att. Gar.,Construct New,245.0,Zimmerman,DR,...,620807.596161,5.522166e+06,No,NaN,NaN,Charleswood - Tuxedo - Westwood,08/01/2023 12:00:00 AM,Issued,NaN,POINT (-97.319860395335 49.839736058726)
134042,2023 August 18 12:00:00 AM,23-175363 HO,NaN,Residential,Housing,SFD,Develop Lower Level,1815.0,William,AVE,...,629484.314979,5.531046e+06,NaN,No,No,Point Douglas,07/07/2023 12:00:00 AM,Issued,NaN,POINT (-97.196276862258 49.917756521793)
134043,2023 August 30 12:00:00 AM,23-179124 MU,NaN,Residential,Multi-Residential,Apartments,Alter Exterior,3299.0,Pembina,HWY,...,632673.176238,5.514992e+06,NaN,NaN,NaN,St. Norbert - Seine River,07/13/2023 12:00:00 AM,Issued,NaN,POINT (-97.157375612954 49.772739956089)
134044,2023 August 15 12:00:00 AM,23-195942 HO,23-173423 HO,Residential,Housing,Row Housing,Develop Lower Level,652.0,Cavalier,DR,...,622065.233500,5.527223e+06,NaN,No,No,St. James,08/15/2023 12:00:00 AM,Issued,NaN,POINT (-97.300783452976 49.884946474345)
134045,2023 August 18 12:00:00 AM,23-198334 AS,NaN,Residential,Accessory Structures,Detached Garage,Demolish,59.0,Springside,DR,...,635432.929800,5.524241e+06,No,NaN,NaN,St. Vital,08/18/2023 12:00:00 AM,Issued,NaN,POINT (-97.115842146866 49.855268149524)